.posRelative{
    border: 2px solid black;
    width: 200px;
    height: 50px;
    left: 250px;
    top: 50px;
    position: relative;
}
.parent{
    border: 3px solid black;
    width: 500px;
    height: 400px;
    position: relative;
    top: 65px;
    left: 84px;
}
.child{
    border: 3px solid green;
    height: 50px;
    width: 130px;
    position: absolute;
    top: 42%;
    left: 37%;
    text-align: center;
}
.fixedprop{
    border: 3px solid darkgoldenrod;
    width: 50px;
    position: fixed;
    right: 0px;
    top: 50%;
    z-index: 1;
}
.stickyprop{
    border: solid green;
    width: 245px;
    height: 38px;
    background-color: lightgray;
    color: darkgoldenrod;
    text-align: center;
    padding: 16px 0 0 0;
    position: sticky;
    margin: auto;
    top: 111px;
    bottom: 0px;
    z-index: -1;
}
.myLogo{
    border: 2px solid black;
    height: 85px;
    border-radius: 50%;
    box-shadow: 0px 0px 16px black;
}
.myTitle{
    font-size: 27px;
    font-weight: 600;
    color: red;
    text-shadow: 2px 2px 3px BLACK;
    margin: 6px;
}
.header{
    background-color: gray;
    border-bottom: 4px solid darkgoldenrod;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container div{
    border: 2px solid black;
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    background-color: lightblue;
    border-radius: 16px;
    margin: 10px;
}
